body  {
  background-image: url("blotches1.jpg");
  background-repeat: no-repeat;
  background-size: 4000px 3000px;
}
.blueheader {
  font-family: dejavu sans;
  color: #25298c;
}

h1 {
  border-block: 5px solid black;
}
