<!DOCTYPE html>

<html>
  <head>
      <title>Interval Permutation {% block subtitle %}{% endblock %}</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
      <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='favicon.ico')}}">
  </head>
  <body>
  <body>
    <p id="content">{% block content %}{% endblock %}</p>
    <hr> 
	<div id="footer">
      <span style="font-family: dejavu sans; font-size:14px; color:white">random quote:  </span>
      <br/>
	  <br/>
      <span style="font-family: dejavu sans; font-size:14px; color:white">{{g.quote}}</span>
	  <br/><br/>
	  <br/>
	  <span style="font-family: dejavu sans; font-size:14px; color:white">&#x2234; Created by <a href="https://www.gregpfeiffer.com/">Greg Pfeiffer</a> 2023  &#x2235 </span>
	  <br/><br/>
		<div id="slideshow">
			<div class="slide-wrapper">
				<div class="slide"></div>
				<div class="slide"></div>
				<div class="slide"></div>
				
			</div>
		</div>
	<br>
	  
	 <br/><br/>
	</div>  
	  


<!--img src="{{url_for('static', filename='system_25_1.jpg')}}" width="300" height="auto" -->
<!--img src="{{url_for('static', filename='system_25_2.jpg')}}" width="300" height="auto" -->
<!--img src="{{url_for('static', filename='system_25_3.jpg')}}" width="300" height="auto" -->