<!DOCTYPE html>
<html>
  <head>
      <title>Music Intervals: {% block subtitle %}{% endblock %}</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
      <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='favicon.ico')}}">
  </head>
  <body>
    <div id="content">{% block content %}{% endblock %}</div>
    <hr> 
    <div id="footer">
      <span style="font-family: courier">random quote:</span>
      <br>
      <span style="font-family: courier; font-size:14px";color:#155223>{{g.quote}}</span>
      <br/><br/>
      <span style="font-family: dejavu sans">Created by Greg Pfeiffer 2023.
