{% extends "base.html" %}
{% block content %}
<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
<form method="post">

    <h1 class="blueheader">The interval program &#8886</h1>
    <p class="whatilike" style="color:#151463">&#x22B3; a tool for composers &#x22B2</p>
	</br>
    <p class="whatilike">&#x2207;  This program creates an entire sequence of pitches</p>
	<p class="whatilike"> from a set of music intervals. It utilzes changes in</p> 
	<p class="whatilike">interval direction to produce a continuous series of</p> 
	<p class="whatilike">outcomes that are all made from the same core interval set. &#x0394</p>
	<br/>
    <hr style="height:2px;border-width:0;color:gray;background-color:gray;width: 33%; float: left">
	<br/>
    <label for="entered_values_raw" style="font-family: dejavu sans; font-size:14px; font-weight: bold">Enter intervals (comma separated):</label>
    <input type="text" name="entered_values_raw" id="entered_values_raw">
  
    <p class="option2">&#x22A0; 1=minor 2nd, 2=Major 2nd,</p>
	<p class="option2">3=minor 3rd, 4=Major 3rd,</p>
    <p class="option2">5=Perfect 4th, 6=Tri-tone &#x22A0</p>
    <p style="font-family: dejavu sans; color:#751107; font-size:14px; line-height: 0.3">for example: 2,5,3,1</p>
	<p style="font-family: dejavu sans; font-size:14px; line-height: 0.3; color:#151463">&#x22CA; It only accepts 1 through 6</p>
	<p style="font-family: dejavu sans; font-size:14px; line-height: 0.3; color:#151463">because the largest interval needed to</p>
    <p style="font-family: dejavu sans; font-size:14px; line-height: 0.3; color:#151463">reach any pitch from any other pitch</p>
	<p style="font-family: dejavu sans; font-size:14px; line-height: 0.3; color:#151463">pitch is a tri-tone.&#x22C9</p>
	<p style="font-family: dejavu sans; font-size:10px; line-height: 0.3; color:#151463;">page will reset if you do it wrong</p>
	<p style="font-family: dejavu sans; font-size:14px; line-height: 0.3; font-style: italic">[max length 9 intervals]</p>
    <br>
	<hr style="height:2px;border-width:0;color:gray;background-color:gray;width: 33%; float: left">
	<br/>
    <label for="binary_order" style="font-family: dejavu sans; font-size:14px; font-weight: bold">Binary Order:</label>
    <select id="binary_order" name="binary_order">
        <option value="ord">Ordered</option>
        <option value="shuf">Shuffled</option>
        <option value="ran">Random</option>
    </select>
	<p class="option2">&#9733; This option determines the order of the ascending and</p> 
	<p class="option2">descending interval directions as they are applied to</p>
	<p class="option2">the sequence of intervals entered. &#9733;</p>
	<p class="whatilike" style="display: inline-block;">   <u>Ordered</u></p>
	<p class="option2" style="display: inline-block;">&#x2022; systematically applies every permutation starting with</p>
	<p class="option2">all ascending intervals, and then proceeds through the</p>
	<p class="option2">permuations sequentially until ending with all descending.</p>
	<p class="whatilike" style="display: inline-block;">  <u>Shuffled</u></p>
	<p class="option2" style="display: inline-block;">&#x2022; uses every permutation available but in random order.</p>
	</br>
	<p class="whatilike" style="display: inline-block;">  <u>Random</u></p>
	<p class="option2" style="display: inline-block;">&#x2022; uses random permuations in random order with possible repetition.</p>
	<br>
	</br>

	<hr style="height:2px;border-width:0;color:gray;background-color:gray;width: 33%; float: left">
	<br/>
    <label for="initial_pitch" style="font-family: dejavu sans; font-size:14px; font-weight: bold">Enter initial pitch:</label>
    <select id="initial_pitch" name="initial_pitch">
        <option value="C">C</option>
        <option value="C#">C#</option>
        <option value="D">D</option>
        <option value="D#">D#</option>
        <option value="E">E</option>
        <option value="F">F</option>
        <option value="F#">F#</option>
        <option value="G">G</option>
        <option value="G#">G#</option>
        <option value="A">A</option>
        <option value="A#">A#</option>
        <option value="B">B</option>
    </select>
    <input type="submit" value="Submit">
    <br>
	</br>
	<p style="font-family: dejavu sans; font-size:14px; line-height: 0.3; color:#751107; font-style: oblique;">Note: The provided permuations use the</p>
	<p style="font-family: dejavu sans; font-size:14px; line-height: 0.3; color:#751107; font-style: oblique;">last pitch from the previous line to</p>
	<p style="font-family: dejavu sans; font-size:14px; line-height: 0.3; color:#751107; font-style: oblique;">start the next permutation and because</p>
	<p style="font-family: dejavu sans; font-size:14px; line-height: 0.3; color:#751107; font-style: oblique;">of this the entire list consists of only</p>
	<p style="font-family: dejavu sans; font-size:14px; line-height: 0.3; color:#751107; font-style: oblique;">the interval pattern.</p>
	
 
    </br>
    

</form>
{% endblock %}
