{% extends "base.html" %}
{% block subtitle %}Creation Form{% endblock %}
{% block content %}
<form method="post">

    <h1 class="blueheader">The interval program</h1>
    <br>
    <p style="font-family: dejavu sans; line-height: 0.2">The purpose of this process is to extrapolate entire sequences</p>
    <p style="font-family: dejavu sans; line-height: 0.2">of related pitch material from small sets of music intervals .</p>
    <br>
    <label for="entered_values_raw" style="font-family: dejavu sans; font-size:14px">Enter intervals (comma separated):</label>
    <input type="text" name="entered_values_raw" id="entered_values_raw">
    <p style="font-family: dejavu sans; font-size:14px; line-height: 0.2;">Enter a sequence of intervals as a list of numbers separated by commas</p>
    <p style="font-family: dejavu sans; font-size:14px; line-height: 0.2;">[only input numbers 1 through 6]</p>
    <p style="font-family: dejavu sans; font-size:14px; line-height: 0.2; font-style: italic"> 1=minor 2nd, 2=Major 2nd, 3=minor 3rd</p>
    <p style="font-family: dejavu sans; font-size:14px; line-height: 0.2; font-style: italic"> 4=Major 3rd, 5=Perfect 4th, 6=Tri-tone</p>
    <p style="font-family: dejavu sans; color:red; font-size:14px; line-height: 0.2">for example: 2,5,3,1</p>
    <br>
    <label for="binary_order" style="font-family: dejavu sans; font-size:14px">Binary Order:</label>
    <select id="binary_order" name="binary_order">
        <option value="ord">Ordinary</option>
        <option value="shuf">Shuffle</option>
        <option value="ran">Random</option>
    </select>
    <br>
    </br>
    <label for="initial_pitch" style="font-family: dejavu sans; font-size:14px">Enter initial pitch:</label>
    <select id="initial_pitch" name="initial_pitch">
        <option value="C">C</option>
        <option value="C#">C#</option>
        <option value="D">D</option>
        <option value="D#">D#</option>
        <option value="E">E</option>
        <option value="F">F</option>
        <option value="F#">F#</option>
        <option value="G">G</option>
        <option value="G#">G#</option>
        <option value="A">A</option>
        <option value="A#">A#</option>
        <option value="B">B</option>
    </select>
    <input type="submit" value="Submit">
    <br>
    </br>
    <img src="{{url_for('static', filename='blotches_sm.jpg')}}" width="160" height="120" />

</form>
{% endblock %}